<!DOCTYPE html>
<html>
<head>
  <title>Rezepte</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <style>
    footer {
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin-top: 0;
      padding-top: 0;
    }

      .header {
        background-image: url(<%= asset_path 'header_smaller.jpg' %>);
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
  </style>
</head>

<body>

<div class="row">
  <header class="col-md-12 header">
    <h1><img src="<%= asset_path 'logo.svg' %>">
    Cookin' on Rails</h1>
  </header>
</div>

<div class="row">
  <div class="navigation col-md-4">
    <ul>
      <li><%= link_to_unless_current "home", root_path %></li>
      <li><%= link_to_unless_current "recipes", recipes_path %></li>
      <li><%= link_to_unless_current "search recipe", search_recipes_path %></li>
      <li><%= link_to_unless_current "new recipe", new_recipe_path %></li>
    </ul>
  </div>

  <div class="content col-md-8"><%= yield %>
  </div>
</div>

<div class="row">
  <footer class="col-md-12">I AM A FOOTER</footer>
</div>

</body>
</html>
